@charset "utf-8";
/* Pablo silva Preloader V2 

Autor: Pablo Silva
website: https://www.facebook.com/pablorsiilva
email: pablo.silvamg@hotmail.com

*/

body {
    margin: 0;
    padding: 0;
  background-color: rgba(0, 0, 0, 0.95);
}

/* Preloader CSS */

#overlay {
  height: 100%;
  width: 100%;
  background: rgba(0,0,0, 0.9);
  position: fixed;
  left: 0;
  top: 0;
}

.x {
    color: rgba(255, 255, 255, 0.5);
    font-size: 2em;
    margin: 1em;
}

.dw ul {
    position: absolute;
    display: flex;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
}

.dw ul li {
    list-style: none;
    font-size: 5em;
    font-family: arial;
    font-weight: bolder;
    letter-spacing: 15px;
    color: #737373;
    text-shadow: none;
    animation: neo 1s linear infinite;
}

.load {
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    box-shadow: 0 0 21px #4ddbff , 0 0 60px #1a8cff;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
}

.loader {
    margin-left: -7%;
    margin-top: -6%;
    width: 50px;
    height: 50px;
    border: 16px solid #1a8cff;
    border-radius: 50%; 
    border-left: 16px solid #4ddbff;
    border-right: 16px solid #4ddbff;
    animation: spin 1s linear infinite;
}
    

/* Neonix Animations */

@keyframes neo {
  0% {
    color: #737373;
    text-shadow: none;
  }
  18% {
    color: #737373;
    text-shadow: none;
  }
  20% {
    color: #4ddbff;
    text-shadow: 0 0 7px #4ddbff , 0 0 20px #1a8cff;
  }
  30% {
    color: #737373;
    text-shadow: none;
  }
  35% {
    color: #4ddbff;
    text-shadow: 0 0 7px #4ddbff , 0 0 20px #1a8cff;
  }
  70% {
    color: #737373;
    text-shadow: none;
  }
  85% {
    color: #4ddbff;
    text-shadow: 0 0 7px #4ddbff , 0 0 20px #1a8cff;
  }
  90% {
    color: #737373;
    text-shadow: none;
  }
  100% {
    color: #737373;
    text-shadow: none;
  }
}

.dw ul li:nth-child(1)
{
  animation-delay: .2s;
}
.dw ul li:nth-child(2)
{
  animation-delay: .4s;
}
.dw ul li:nth-child(3)
{
  animation-delay: .6s;
}
.dw ul li:nth-child(4)
{
  animation-delay: .8s;
}
.dw ul li:nth-child(5)
{
  animation-delay: 1s;
}
.dw ul li:nth-child(6)
{
  animation-delay: 1.2s;
}


/* Loader Animation */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Preloader end */
